{
    "jira": {
        "user": "theuser",
        "pass": "mypassword!",
        "url": "https://jira.example.com"
    },
    "statuses": [
        "To Do",
        "Doing",
        "*Done"
    ],
    "showSummary": false
}
