{
    "storyPoints": {
        "jqlName": "Story Points",
        "apiName": "customfield_10005"
    },
    "project": "ABC",
    "types": ["story", "task", "bug"],
    "ignoreStatuses": [
        "to do",
        "completed"
    ]
}
